<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image" href="https://images.all-free-download.com/images/graphicthumb/crystal_style_earth_vector_288763.jpg"><title>Global Refugee Dashboard</title>
  <link rel="stylesheet" href='../static/css/main.css'>
  <link rel="stylesheet" href='../static/css/d3Style.css'>
  <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
</head>

<body>
   <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Global Refugee Dashboard</h1>
        <h2>By the end of 2017, 68.5 million individuals were forcibly displaced worldwide as a result of persecution, conflict, violence or human rights violations. </h2><br>
        <h2>That's equivalent to the population of France.</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe  width="100%" height=800px src="https://arentaylor.github.io/Week17-Visualizing-Data-with-Leaflet/" frameborder="0" scrolling="auto" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<center>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="stackedbar"></div>
        </div>
      </div>
  </div>
</center>


    <script>

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 30, bottom: 20, left: 50},
        width = 1000- margin.left - margin.right,
        height = 6000 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#stackedbar")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

    // Parse the Data
    d3.csv(href="'../db/areachart.csv'", function(data) {

      // List of subgroups = header of the csv files = soil condition here
      var subgroups = data.columns.slice(1)

      // List of groups = species here = value of the first column called group -> I show them on the X axis
      var groups = d3.map(data, function(d){return(d.group)}).keys()

      // Add X axis
      var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickSizeOuter(0));

      // Add Y axis
      var y = d3.scaleLinear()
        .domain([0, 60])
        .range([ height, 0 ]);
      svg.append("g")
        .call(d3.axisLeft(y));

      // color palette = one color per subgroup
      var color = d3.scaleOrdinal()
        .domain(subgroups)
        .range(['#e41a1c','#377eb8','#4daf4a'])

      //stack the data? --> stack per subgroup
      var stackedData = d3.stack()
        .keys(subgroups)
        (data)

      // Show the bars
      svg.append("g")
        .selectAll("g")
        // Enter in the stack data = loop key per key = group per group
        .data(stackedData)
        .enter().append("g")
          .attr("fill", function(d) { return color(d.key); })
          .selectAll("rect")
          // enter a second time = loop subgroup per subgroup to add all rectangles
          .data(function(d) { return d; })
          .enter().append("rect")
            .attr("x", function(d) { return x(d.data.group); })
            .attr("y", function(d) { return y(d[1]); })
            .attr("height", function(d) { return y(d[0]) - y(d[1]); })
            .attr("width",x.bandwidth())
    })

    </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src='../static/js/app.js'></script> -->
</body>

</html>
